.Genres {
  /* border: 2px solid; */
  overflow: hidden;
  overflow-x: scroll;
  background: rgb(76, 63, 161);
  background: linear-gradient(
    109.6deg,
    rgba(119, 44, 232, 0.68) 11.5%,
    rgb(119, 44, 232) 91.2%
  );
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  cursor: grab;
}

.genreFlex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.Genres::-webkit-scrollbar {
  height: 0px;
  background-color: transparent;
}

.Genres::-webkit-scrollbar-thumb {
  height: 0px;
  background-color: transparent;
}
