@font-face {
  font-family: "albra";
  src: url("/fonts/albra/albraTRIAL-Regular.otf") format("opentype");
}

@font-face {
  font-family: "cresing";
  src: url("/fonts/cresing/cresing.otf") format("opentype");
}

.genreMovies::-webkit-scrollbar {
  height: 8px;
  background: rgb(86, 25, 255);
  box-shadow: inset 0px 0px 4px 2px rgba(128, 74, 173, 0.8);
}

.genreMovies::-webkit-scrollbar-thumb {
  background: rgb(112, 50, 212);
  box-shadow: 0px 0px 30px 15px rgba(176, 173, 0, 0.2);
  border-radius: 9999px;
  background: radial-gradient(rgb(200, 168, 226) 2%, rgba(101, 5, 255) 100.7%);
}

.genreContainer::-webkit-scrollbar,
.genreContainerCollapsed::-webkit-scrollbar {
  width: 8px;
  background: rgb(86, 25, 255);
  box-shadow: inset 0px 0px 4px 2px rgba(128, 74, 173, 0.8);
}

.genreContainer::-webkit-scrollbar-thumb,
.genreContainerCollapsed::-webkit-scrollbar-thumb {
  background: rgb(112, 50, 212);
  box-shadow: 0px 0px 4px 2px rgba(176, 173, 0, 0.5);
  border-radius: 3px;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(200, 168, 226) 2%,
    rgb(101, 5, 255) 100.7%
  );
}

.genreContainer {
  display: flex;
  position: relative;
  height: max(calc(64svh - 20px), calc(100svh - 290px));
  width: 100vw;
  flex-direction: column;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  transition: top 0.5s ease, height 0s ease 0.5s;
  gap: 10px;
}

.genreContainer::after,
.genreContainerCollapsed::after {
  position: absolute;
  content: "";
  top: -20px;
  left: 0;
  height: 92px;
  border-bottom-left-radius: 10px;
  width: 100%;
  background: rgb(0 0 0 /50%);
}

.genreContainerCollapsed {
  transition: top 0.5s ease;
  position: relative;
  display: flex;
  height: max(calc(92svh - 20px), calc(100svh - 80px));
  width: 100vw;
  flex-direction: column;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: max(-28svh, -210px);
  gap: 10px;
}

.individualGenreContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 13px;
}

.genreMovies {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 8px;
  margin: 7px;
  margin-left: 5px;
  margin-bottom: 0px;
  width: 100%;
  overflow-x: scroll;
  height: fit-content;
}

.genreName {
  position: relative;
  text-align: left;
  align-self: flex-start;
  color: white;
  font-size: 3vh;
  min-width: 150px;
  width: fit-content;
  margin-left: 10px;
  height: fit-content;
  margin-top: 18px;
  z-index: 1;
}

.genreName > p {
  font-family: "cresing";
  color: rgb(232, 188, 241);
}

.noResults {
  box-sizing: border-box;
  align-self: center;
  height: fit-content;
  position: relative;
  width: calc(100% - 15px);
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  place-items: center;
  padding: 12px;
  font-family: "albra";
  background: rgb(0 0 0 /45%);
  border-radius: 10px;
  color: rgb(232 188 241 /60%);
  font-weight: 500;
}

@media screen and (width < 415px) {
  .genreContainer::after,
  .genreContainerCollapsed::after {
    height: 80px;
  }
}
