.Home {
  display: grid;
  grid-template-rows: min(8%, 60px) min(12%, 90px) min(8%, 60px) min(8%, 60px);
  text-align: center;
  box-sizing: border-box;
  height: 100svh;
  width: 100vw;
  margin: 0;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
}
