@keyframes move {
  from {
    width: 100%;
  }
  to {
    width: 400%;
  }
}

@keyframes slidein {
  from {
    width: 400%;
  }
  to {
    width: 100%;
  }
}

.main {
  position: absolute;
  width: 100vw;
  height: 100svh;
  background: rgb(0 0 0 /50%);
  overflow: hidden;
}

.container {
  padding: 4vw;
  height: calc(100% - 4vw - 20px);
  gap: 20px;
  overflow-y: scroll;
  align-items: center;
}

.content {
  gap: 20px;
}

.backdrop {
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  animation: slidein 2s ease 0s 1 alternate,
    move 60s ease-in-out 2s infinite alternate;
}

.backdrop::after {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle max(50vw, 350px) at 60%,
    transparent,
    black
  );
  background-repeat: no-repeat;
  backdrop-filter: blur(30px) saturate(2);
}

.poster {
  height: 225px;
  width: 155px;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.genreList {
  justify-content: center;
  margin-top: 5px;
  gap: 5px;
  width: 155px;
}

.column {
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
}

.column.first {
  gap: 15px;
}

.column > p {
  text-align: center;
  display: inline-flex;
  align-items: center;
  max-width: 155px;
}

.info {
  align-items: center;
  width: fit-content;
  gap: 1px;
}

.info p {
  color: rgb(207, 203, 203);
}

.info p:first-of-type {
  color: white;
}

.video {
  border: 1px solid rgb(106, 106, 106);
  background: rgb(0 0 0 /50%);
  position: relative;
  height: 225px;
  max-width: 96vw;
  aspect-ratio: 2/1;
  overflow: hidden;
}

.round_tags {
  color: rgb(232, 225, 225);
  border: 1px solid rgb(216, 214, 214);
  border-radius: 15px;
  padding: 3px 10px;
}

.round_tags.genre {
  width: fit-content;
  font-size: 9px;
}

.round_tags.description {
  width: fit-content;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.round_tags.description:hover {
  background: rgb(255 255 255 /20%);
}

.round_tags.description > img {
  width: 10px;
  margin-top: 3px;
}

.circle {
  width: 8px;
  height: 8px;
  margin: 0px 4px;
  border-radius: 9999px;
  background-color: rgb(113, 113, 113);
}

.services,
.cast {
  border: 1px solid white;
  max-width: 96vw;
  box-sizing: border-box;
  padding: 10px;
}

@media screen and (width >= 710px) {
  .services {
    width: 615px;
    height: 100px;
  }

  .cast {
    width: 615px;
    height: 100px;
  }
}

@media screen and (width < 710px) {
  .content {
    flex-direction: column;
  }

  .first {
    order: 2;
  }

  .column.first {
    flex-direction: row;
  }

  .second {
    order: 1;
  }

  .services {
    width: 100%;
    height: 100%;
  }

  .cast {
    width: 100%;
    height: 200px;
    order: 3;
  }
}
