.collapseBtn {
  transition: top 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  position: fixed;
  translate: -50% -50%;
  background-color: violet;
  border-radius: 50%;
  font-size: 80%;
  z-index: 5000;
  border: 1px dotted;
  cursor: pointer;
}

.collapseBtnExpanded {
  top: 36vh;
  left: 50%;
}

.collapseBtnCollapsed {
  top: 8vh;
  left: 50%;
}
