@font-face {
  font-family: "bright";
  src: url("/bright.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.genreMovies::-webkit-scrollbar {
  height: 0px;
  background-color: transparent;
}

.genreMovies::-webkit-scrollbar-thumb {
  height: 0px;
  background-color: transparent;
}

.Movies::-webkit-scrollbar,
.MoviesCollapsed::-webkit-scrollbar,
.genreContainer::-webkit-scrollbar,
.genreContainerCollapsed::-webkit-scrollbar {
  width: 3px;
  background: black;
}

.Movies::-webkit-scrollbar-thumb,
.MoviesCollapsed::-webkit-scrollbar-thumb,
.genreContainer::-webkit-scrollbar-thumb,
.genreContainerCollapsed::-webkit-scrollbar-thumb {
  width: 3px;
  background: rgb(112, 50, 212);
}

.Movies,
.genreContainer {
  display: flex;
  position: relative;
  height: calc(100% - 20px);
  width: 100vw;
  flex-direction: column;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  transition: top 0.5s ease, height 0s ease 0.5s;
}

.MoviesCollapsed,
.genreContainerCollapsed {
  transition: top 0.5s ease;
  position: relative;
  display: flex;
  height: calc(151% - 20px);
  width: 100vw;
  flex-direction: column;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: -51%;
}

.genreContainer,
.genreContainerCollapsed {
  gap: 10px;
}

.collapseBtn {
  transition: top 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  position: fixed;
  top: 39vh;
  left: 50%;
  translate: -50% -50%;
  background-color: violet;
  border-radius: 50%;
  font-size: 80%;
  z-index: 300;
  border: 1px dotted;
  cursor: pointer;
}

.collapseBtnCollapsed {
  transition: top 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  position: fixed;
  top: 8vh;
  left: 50%;
  translate: -50% -50%;
  background-color: violet;
  border-radius: 50%;
  font-size: 80%;
  z-index: 300;
  border: 1px dotted;
  cursor: pointer;
}

.moviesFlex {
  position: relative;
  display: flex;
  margin-top: 1vh;
  gap: 3px;
  flex-flow: row wrap;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
}

.individualGenreContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 13px;
}

.genreMovies {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  margin: 7px;
  margin-left: 4px;
  margin-bottom: 0px;
  width: 100%;
  overflow-x: scroll;
  height: fit-content;
}

.genreName {
  position: relative;
  text-align: left;
  margin-left: 25px;
  color: white;
  font-size: 3vh;
  min-width: 150px;
  width: 10%;
  height: fit-content;
  margin-top: 18px;
  z-index: 1;
}

.genreName > p {
  font-family: "bright";
  color: rgb(232, 188, 241);
}

.moviesFlex::after {
  content: "";
  position: absolute;
  top: -20%;
  left: -50%;
  width: 200%;
  height: 122%;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(100px);
}

.searchAll {
  z-index: 1000;
}
