.collapseBtn {
  transition: top 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 20px;
  position: fixed;
  translate: -50% -30%;
  background-color: violet;
  border-radius: 5px;
  font-size: 80%;
  z-index: 5000;
  border: 1px solid;
  cursor: pointer;
  right: 0%;
}

.collapseBtnExpanded {
  top: min(36svh, 270px);
}

.collapseBtnCollapsed {
  top: min(8svh, 60px);
}

.arrow {
  width: 10px;
  height: 15px;
}

.up {
  rotate: 0deg;
}

.down {
  rotate: 180deg;
}
