.flex_col {
  display: flex;
  flex-direction: column;
}

.priceBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 92%;
  width: 150px;
  /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
  border: 2px solid;
}

.price {
  position: absolute;
  top: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  min-width: 100%;
  width: fit-content;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid;
  gap: 5px;
  z-index: 2;
  overflow: hidden;
}

.hidden {
  display: none;
}
