.buttonChoices {
  display: grid;
  place-items: center;
  width: 100%;
  background-color: white;
  cursor: pointer;
  transition: 0.1s ease-out;
}

.selected {
  background-color: black;
  color: whitesmoke;
  cursor: auto;
  transition: 0.1s ease-in;
}
