@keyframes appear {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes widthGrow {
  from {
    background-color: rgba(0, 0, 0, 0);
    height: 5vh;
    top: 1.5vh;
    width: 32vw;
  }
  to {
    background-color: rgba(0, 0, 0, 0.7);
    height: 8vh;
    top: 0;
    width: 100vw;
  }
}

@keyframes heightGrow {
  from {
    height: 8vh;
  }
  to {
    height: 100vh;
  }
}

.SearchResults {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1.5vh;
  left: 50%;
  translate: -50%;
  background-color: rgba(0, 0, 0, 0);
  width: 32vw;
  height: 5vh;
  overflow: hidden;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  z-index: 1;
  /* animation: widthGrow 0.5s cubic-bezier(1, 0.285, 0, 0.96) 0s 1 forwards,
    heightGrow 0.5s cubic-bezier(1, 0.285, 0, 0.96) 0.5s 1 forwards; */
}

.SearchResultsExpand {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0vh;
  left: 50%;
  translate: -50%;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  z-index: 1;
}

.searchBar {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 92vh;
  overflow-y: scroll;
}

.closeBtn {
  position: absolute;
  top: 2vh;
  left: 2vh;
  border-radius: 9999px;
  width: 30px;
  height: 30px;
  font-size: 11px;
  color: #e8bcf1;
  background: rgb(74, 59, 167);
  border: none;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}
