.container {
  position: absolute;
  width: max(30vw, 150px);
  height: 50%;
  margin: 0 auto;
  z-index: 6001;
}

.container > input:focus {
  outline: none;
}

.container > input {
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0% -50%;
  padding: 4px;
  font-family: "Lexend";
  color: rgb(223, 219, 245);
  border-radius: 20px;
  width: 100%;
  height: min(100%, 50px);
  border: none;
  background-color: rgba(106, 90, 205, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.container > input:focus {
  border-left: 1px solid rgb(75 60 167);
  border-top: 1px solid rgb(75 60 167);
  border-bottom: 1px solid rgb(75 60 167);
}

.container > input::placeholder {
  font-family: "Lexend";
  color: rgb(165, 154, 228);
  text-align: left;
  position: relative;
  translate: 2%;
}

.container > button {
  display: grid;
  place-items: center;
  position: absolute;
  right: -3px;
  height: calc(100% + 8px);
  width: 14%;
  min-width: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 50%;
  translate: 15% -50%;
  border: none;
  background-color: rgb(74, 59, 167);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  color: rgb(223, 219, 245);
}

.pressed {
  background-color: rgb(25, 18, 69);
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.container::after {
  display: none;
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  translate: -80% -50%;
  width: 50px;
  height: 60%;
  background: black;
}

.searchIcon {
  width: 40%;
  min-width: 15px;
}
