@import url("https://fonts.googleapis.com/css?family=Lexend");

.Search {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(38, 28, 103);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
}
