.ServiceIcons::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.ServiceIcons::-webkit-scrollbar-thumb {
  width: 0px;
  background-color: transparent;
}

.ServiceIcons {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  max-height: 75%;
  min-width: fit-content;
  width: 30%;
  max-width: 110px;
  color: white;
  overflow-y: scroll;
  z-index: 100;
}

.ServiceIcons img,
.ServiceIcons div,
.link {
  border-radius: 9999px;
  width: 80%;
  max-width: 80px;
  aspect-ratio: 1;
}

.ServiceIcons div {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 65%;
  font-weight: bold;
}

.ServiceIcons div:not(.noServices) {
  background-color: black;
  margin-bottom: 3px;
}

.fetching {
  cursor: progress;
}

.link {
  cursor: alias;
}

.noServices {
  padding: 2px;
}

.noServices p {
  align-self: center;
  width: fit-content;
  font-size: clamp(7px, 1vw, 10px);
}
