@font-face {
  font-family: "albra";
  src: local("/fonts/albra/albraTRIAL-Regular.otf") format("opentype");
}

.Movies::-webkit-scrollbar,
.MoviesCollapsed::-webkit-scrollbar {
  width: 8px;
  background: rgb(86, 25, 255);
  box-shadow: inset 0px 0px 4px 2px rgba(128, 74, 173, 0.8);
}

.Movies::-webkit-scrollbar-thumb,
.MoviesCollapsed::-webkit-scrollbar-thumb {
  background: rgb(112, 50, 212);
  box-shadow: 0px 0px 4px 2px rgba(176, 173, 0, 0.5);
  border-radius: 3px;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(200, 168, 226) 2%,
    rgb(101, 5, 255) 100.7%
  );
}

.Movies {
  display: flex;
  position: relative;
  height: calc(100% - 20px);
  width: 100vw;
  flex-direction: column;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
  transition: top 0.5s ease, height 0s ease 0.5s;
}

.Movies:has(div:not(.noResults))::after,
.MoviesCollapsed:has(div:not(.noResults))::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 90px;
  top: -20px;
  left: 0;
  background: rgb(0 0 0 /50%);
}

.MoviesCollapsed {
  transition: top 0.5s ease;
  position: relative;
  display: flex;
  height: calc(151% - 20px);
  width: 100vw;
  flex-direction: column;
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: max(-28svh, -210px);
}

.moviesFlex {
  position: relative;
  display: flex;
  margin-top: 1vh;
  gap: 0px;
  flex-flow: row wrap;
  width: 100%;
  height: fit-content;
  justify-content: space-evenly;
}

.moviesFlexExpanded {
  left: 50%;
  transform: translateX(-50%);
  width: 125%;
}

.moviesFlex::after {
  content: "";
  position: absolute;
  left: -50%;
  width: 200%;
  background: rgba(0, 0, 0, 0.5);
}

.Movies > .moviesFlex::after {
  height: max(100%, calc(64svh - 14px));
  transition: 0.5s ease;
}

.MoviesCollapsed > .moviesFlex::after {
  height: max(100%, calc(92svh - 60px));
}

.searchAll {
  margin: 0 auto;
  z-index: 1000;
  width: 100px;
}

.noResults {
  margin: 0 auto;
  font-family: "albra";
  width: 90%;
  height: 90%;
  margin-top: 15px;
  display: grid;
  border-radius: 10px;
  place-items: center;
  background: rgb(0 0 0 /50%);
}

.noResults h1 {
  align-self: end;
  color: rgb(232 188 241 /70%);
}

.noResults p {
  align-self: baseline;
  color: rgb(232 188 241 /50%);
}

@media screen and (width < 415px) {
  .Movies:has(div:not(.noResults))::after,
  .MoviesCollapsed:has(div:not(.noResults))::after {
    height: 78px;
  }

  .Movies > .moviesFlex::after {
    height: max(100%, calc(64svh - 2px));
  }

  .MoviesCollapsed > .moviesFlex::after {
    height: max(100%, calc(92svh - 48px));
  }
}
