.section {
  position: relative;
}

.Services {
  position: absolute;
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  cursor: grab;
}

.Services::-webkit-scrollbar {
  height: 0px;
  background-color: transparent;
}

.Services::-webkit-scrollbar-thumb {
  height: 0px;
  background-color: transparent;
}

.servicesFlex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.reset {
  position: absolute;
  display: grid;
  place-items: center;
  top: 5%;
  right: 1%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  backdrop-filter: invert(40%);
  border-radius: 9999px;
  cursor: pointer;
  transition: 0.4s ease;
}

.reset:hover {
  transition: 0.4s ease;
  background-color: rgb(134, 24, 230);
}

.reset img {
  width: 70%;
  height: auto;
  color: white;
  transform: rotate(25deg);
  transition: 0.2s ease;
}

.reset img:hover {
  transition: 0.2s ease;
  transform: rotate(-25deg);
}
