@font-face {
  font-family: "cruiser";
  src: url("/fonts/cruiser/Cruiser.otf");
}

.flex_row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.media {
  width: 150px;
  height: fit-content;
  z-index: 1;
  margin-left: 10px;
}

.engraved {
  font-size: 30px;
  font-family: "cruiser";
  background-color: rgb(53 22 104);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(245, 245, 245, 0.5) 3px 5px 1px;
  transition: text-shadow 0.2s ease-out;
}

.engraved:hover {
  text-shadow: rgba(245, 245, 245, 0.7) 3px 5px 1px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.embossed {
  color: #e8bcf0;
  font-size: 35px;
  font-family: "cruiser";
  background-color: #666666;
  text-shadow: 1px 4px 4px #555;
  text-align: center;
  border-bottom: 1px solid gray;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

@media screen and (width < 415px) {
  .media {
    width: 110px;
  }

  .engraved {
    font-size: 20px;
  }

  .embossed {
    font-size: 25px;
  }
}
