@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Lexend");

.Type {
  display: flex;
  flex-direction: row;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid;
}

.flex_row {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 80%;
  border-radius: 50px;
}

.price {
  margin-left: 10px;
  width: 430px;
}

.buttonChoices {
  display: grid;
  place-items: center;
  width: 50%;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.1s ease-out;
}

.selected {
  background-color: black;
  color: whitesmoke;
  cursor: auto;
  transition: 0.1s ease-in;
}
