@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Lexend");

.Type {
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid;
}

.flex_col {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 80%;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.flex_row {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.tv {
  display: grid;
  place-items: center;
  width: 50%;
  border: 1px solid;
  border-top-left-radius: 50px;
}

.movies {
  display: grid;
  place-items: center;
  width: 50%;
  border: 1px solid;
  border-top-right-radius: 50px;
}

.both {
  display: grid;
  place-items: center;
  height: 50%;
  border: 1px solid;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
