@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css?family=Lexend");

.Type::-webkit-scrollbar {
  height: 0px;
}

.Type::-webkit-scrollbar-thumb {
  height: 0px;
}

.Type {
  width: 100%;
  height: 100%;
  overflow: visible;
  background: radial-gradient(
    523px at 7.1% 19.3%,
    rgb(147, 15, 255) 2%,
    rgb(101, 5, 255) 100.7%
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 2px solid;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  width: fit-content;
  height: 100%;
}

.media {
  width: 150px;
  height: 80%;
  border-radius: 50px;
}

.priceBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 92%;
  width: 150px;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 50px; */
  border: 2px solid;
}

.price {
  position: absolute;
  top: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  /* border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; */
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid;
  gap: 5px;
  z-index: 2;
  overflow: hidden;
}

.hidden {
  display: none;
}

.buttonChoices {
  display: grid;
  place-items: center;
  width: 100%;
  /* border-radius: 50px; */
  background-color: white;
  cursor: pointer;
  transition: 0.1s ease-out;
  /* border: 1px dashed white; */
}

.selected {
  background-color: black;
  color: whitesmoke;
  cursor: auto;
  transition: 0.1s ease-in;
}

.range {
  margin-left: 10vw;
  justify-content: center;
}
